/* Global Styles */
:root {
  --primary-color: #17a2b8;
  --dark-color: #343a40;
  --light-color: #f4f4f4;
  --danger-color: #dc3545;
  --success-color: #2ecc40;
  /* #28a745 */
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Raleway', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background-color: #fff;
  color: #333;
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

blockquote {
  margin: 0;
}
blockquote p {
  padding: 15px;
  background: #eee;
  border-radius: 5px;
}
blockquote p::before {
  content: '\201C';
}
blockquote p::after {
  content: '\201D';
}

input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  }

/* Utilities */
.container {
  max-width: 1100px;
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
  margin-top: 6rem;
  margin-bottom: 3rem;
}

.container-reg {
  max-width: 1100px;
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.container-reg2 {
  max-width: 100vw;
  margin-top: 2rem;
  margin-bottom: 3rem;
  padding: 2rem;
  border-width: 0 5px;
  border-radius: 8px;
  border-style: solid;
  border-color: transparent;
  box-shadow: inset 1px 1px 12px -5px #888;
}
.container-reg3 {
  background-color: #fff;
  opacity: 0.88;
  height: 20vh;
  width: 100%;
  margin: -1rem auto;
  padding: 0.75rem 1.5rem;
  border-radius: 8px;
  box-shadow: 1px 1px 12px -5px #888;
}
.container-reg4 {
  max-width: 100%;
  margin-top: 2rem;
  margin-bottom: 3rem;
}
.container-reg5 {
  max-width: 100vw;
  margin: 2rem auto 3rem auto;
  padding: 0.7rem;
  border-width: 0 5px;
  border-radius: 8px;
  border-style: solid;
  border-color: transparent;
  box-shadow: inset 1px 1px 12px -5px #888;
}

/* Text Styles*/
.x-large {
  font-size: 4rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.large {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.lead {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.text-center {
  text-align: center;
}

.text-primary {
  color: var(--primary-color);
}

.text-dark {
  color: var(--dark-color);
}

/* Padding */
.p {
  padding: 0.5rem;
}
.p-1 {
  padding: 1rem;
}
.p-2 {
  padding: 2rem;
}
.p-3 {
  padding: 3rem;
}
.py {
  padding: 0.5rem 0;
}
.py-1 {
  padding: 1rem 0;
}
.py-2 {
  padding: 2rem 0;
}
.py-3 {
  padding: 3rem 0;
}

.phalf {
  padding: 0.5rem;
}
.px-1 {
  padding: 0 1rem;
}

/* Margin */
.m {
  margin: 0.5rem;
}
.m-1 {
  margin: 1rem;
}
.m-2 {
  margin: 2rem;
}
.m-3 {
  margin: 3rem;
}
.my {
  margin: 0.5rem 0;
}
.my-1 {
  margin: 1rem 0;
}
.my-2 {
  margin: 2rem 0;
}
.my-3 {
  margin: 3rem 0;
}

.btn {
  display: inline-block;
  background: var(--light-color);
  color: #333;
  padding: 0.4rem 1.3rem;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  margin-right: 0.5rem;
  transition: opacity 0.2s ease-in;
  outline: none;
  border-radius: 4px;
}

.badge {
  font-size: 0.8rem;
  padding: 0.1rem;
  text-align: center;
  margin: 0.3rem;
  background: var(--light-color);
  color: #333;
}

.alert {
  padding: 0.8rem;
  margin: 1rem 0;
  opacity: 0.9;
  background: var(--light-color);
  color: #333;
}

.btn-primary,
.bg-primary,
.badge-primary,
.alert-primary {
  background: var(--primary-color);
  color: #fff;
}

.btn-light,
.bg-light,
.badge-light,
.alert-light {
  background: var(--light-color);
  color: #333;
}

.btn-dark,
.bg-dark,
.badge-dark,
.alert-dark {
  background: var(--dark-color);
  color: #fff;
}

.btn-danger,
.bg-danger,
.badge-danger,
.alert-danger {
  background: var(--danger-color);
  color: #fff;
}

.btn-success,
.bg-success,
.badge-success,
.alert-success {
  background: var(--success-color);
  color: #fff;
}

.btn-white,
.bg-white,
.badge-white,
.alert-white {
  background: #fff;
  color: #333;
  border: #ccc solid 1px;
}

.btn:hover {
  opacity: 0.8;
  box-shadow: 1px 1px 12px -5px #333;
  transform: scale(1.025);
}

.bg-light,
.badge-light {
  border: #ccc solid 1px;
}

.round-img {
  border-radius: 50%;
}

.line {
  height: 1px;
  background: #ccc;
  margin: 1.5rem 0;
}

/* Overlay */
.dark-overlay {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Footer */
.fm {
  margin: 1.5rem 0;
}

.fbc {
  background: var(--primary-color);
  margin: 0;
  padding: 1rem 0 0 0;
  text-align: center;
  justify-content: center;
  align-content: center;
  align-items: center;
}

/* foot icon colour */
.fic {
  color: #dddddd;
  width: 4rem;
  height: 4rem;
  border-radius: 2.5rem;
  border-style: solid;
  border-color: transparent;
  box-shadow: 1px 1px 12px -5px #333;
  padding: 1.6rem 0.8rem 0.8rem 0.8rem;
  margin: 1rem;
}

.fcb {
  background-color: #126a77;
  margin: 2rem 0rem;
  padding: 1.25rem;
}

.fcc {
  color: #dddddd;
}

/* Forms */
.form .form-group {
  margin: 1.2rem 0;
}

.form .form-text {
  display: block;
  margin-top: 0.3rem;
  color: #888;
}

.form input[type='text'],
.form input[type='email'],
.form input[type='password'],
.form input[type='date'],
.form input[type='search'],
.form select,
.form textarea {
  display: block;
  width: 100%;
  padding: 0.4rem;
  font-size: 1.2rem;
  border: 1px solid #ccc;
}

.form input[type='submit'],
button {
  font: inherit;
}

.form .social-input {
  display: flex;
}

.form .social-input i {
  padding: 0.5rem;
  width: 4rem;
}

.form .social-input i.fa-twitter {
  color: #38a1f3;
}
.form .social-input i.fa-facebook {
  color: #3b5998;
}
.form .social-input i.fa-instagram {
  color: #3f729b;
}
.form .social-input i.fa-youtube {
  color: #c4302b;
}
.form .social-input i.fa-linkedin {
  color: #0077b5;
}

.table th,
.table td {
  padding: 1rem;
  text-align: left;
}

.table th {
  background: var(--light-color);
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem 2rem;
  position: fixed;
  z-index: 1;
  width: 100%;
  top: 0;
  border-bottom: solid 1px var(--primary-color);
  opacity: 0.9;
}

.navbar ul {
  display: flex;
}

.navbar a {
  color: #fff;
  padding: 0.45rem;
  margin: 0 0.25rem;
}

.navbar a:hover {
  color: var(--primary-color);
  transform: scale(1.25);
}

.navbar .welcome span {
  margin-right: 0.6rem;
}

/* Landing Page */
.landing {
  position: relative;
  background: url('./img/english.jpg') no-repeat center center/cover;
  height: 100vh;
}

.landing-inner {
  color: #fff;
  height: 100%;
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* Profiles Page */
.profile {
  display: grid;
  grid-template-columns: 2fr 4fr 2fr;
  align-items: center;
  grid-gap: 2rem;
  padding: 1rem;
  line-height: 1.8;
  margin-bottom: 1rem;
  border-radius: 8px;
  box-shadow: 2px 2px 10px -5px #888;
}

/* Profile Page */
.profile-grid {
  display: grid;
  grid-template-areas:
    'top top'
    'about about'
    'exp edu'
    'github github';
  grid-gap: 1rem;
}

.profile-top {
  grid-area: top;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 8px;
  box-shadow: 5px 5px 5px 1px #888;
}

.profile-top img {
  width: 250px;
  box-shadow: 1px 1px 8px -5px #888;
}

.profile-top .icons a {
  color: #fff;
  margin: 0 0.3rem;
}

.profile-top .icons a:hover {
  color: var(--dark-color);
}

.profile-about {
  grid-area: about;
  text-align: center;
  border-radius: 8px;
  box-shadow: 1px 1px 8px #888;
}

.profile-about .skills {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.profile-exp {
  grid-area: exp;
  border-radius: 8px;
  box-shadow: 1px 1px 8px #888;
}

.profile-edu {
  grid-area: edu;
  border-radius: 8px;
  box-shadow: 1px 1px 8px #888;
}

.profile-exp h2,
.profile-edu h2 {
  margin-bottom: 1rem;
}

.profile-exp > div,
.profile-edu > div {
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: #ccc 1px dotted;
}

.profile-exp > div:last-child,
.profile-edu > div:last-child {
  border: 0;
}

.profile-exp p,
.profile-edu p {
  margin: 0.5rem 0;
}

.profile-github {
  grid-area: github;
  border-radius: 8px;
  box-shadow: 1px 1px 8px;
}

.profile-github .repo {
  display: flex;
}

.profile-github .repo > div:first-child {
  flex: 7;
  flex-basis: 70%;
}

.profile-github > div:last-child {
  flex: 3;
  flex-basis: 20%;
}

/* Posts Page */
.post-form .post-form-header {
  background: var(--primary-color);
  padding: 0.5rem;
}

.post {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-gap: 2rem;
  align-items: center;
  box-shadow: 1px 1px 12px -5px #888;
  border-radius: 8px;
}

.post > div:first-child {
  text-align: center;
}

.post img {
  width: 100px;
}

.post .comment-count {
  background: var(--light-color);
  color: var(--primary-color);
  padding: 0.1rem 0.2rem;
  border-radius: 5px;
  font-size: 0.8rem;
}

.post .post-date {
  color: #aaa;
  font-size: 0.8rem;
  margin-bottom: 0.5rem;
}

.reg {
  display: grid;
  grid-template-areas:
    'search help other';
  grid-gap: 0.8rem;
  list-style: outside none none;
  margin-top: 0;
  justify-content: center;
}

#search {
  grid-area: search;
}

#help {
  grid-area: help;
}

#other {
  grid-area: other;
}

.filter {
  filter: drop-shadow(3px 3px 5px black);
}

.reg-img1 {
  background-image: url(./components/layout/car_search.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 80vh;
  /* width: 100%; */
  margin: 0;
  /* max-width: 200%; */
  padding-top: 2rem;
}

.reg-img2 {
  background-image: linear-gradient(rgba(245, 245, 245, 0.125), rgba(245, 245, 245, 0.125)),
    url(./components/layout/multi_car.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 80vh;
  margin: -4rem -2rem 1rem -2rem;
  padding: 0;
  max-width: 300%;
}

.reg-item {
  max-width: 95%;
  max-height: 100%;
  opacity: 0.95;
  margin-top: 3.5rem;
  margin-left: 7px;
  margin-right: 7px;
  padding: 0.7rem;
  border-width: 0 5px;
  border-radius: 8px;
  border-style: solid;
  border-color: transparent;
  box-shadow: 1px 1px 12px -5px #888;
  background-color: #fff;
}

.reg-item:hover {
  transition: transform 0.44s ease-in-out;
  transform: scale(1.125);
  z-index: 1;
}

.regform-item {
  max-width: 100%;
  /* box-sizing: border-box; */
  margin-left: 5px;
  margin-right: 5px;
  padding: 0.7rem;
  border-width: 0 5px;
  border-radius: 8px;
  border-style: solid;
  border-color: transparent;
  box-shadow: 1px 1px 12px -5px #888;
  justify-content: center;
  vertical-align: center;
}

.regrule {
  display: grid;
  grid-template-areas: 
  'px lp'
  'vp tv'
  'jd jk'
  'ccr jg'
  'pdp dh';
  grid-gap: 2rem;
}

.regreg {
  display: grid;
  grid-template-areas: 
  'nft nf'
  'cb cbt'
  'tdt td'
  'bw bwt'
  'cet ce';
  grid-gap: 1.5rem;
}

.regrule-item {
  width: 444px;
  opacity: 0.88;
  /* height: 50vh; */
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 3px 3px 12px #222;
  font-size: 1rem;
}

.regrule-item:hover {
  transition: transform 0.44s ease-in-out;
  transform: scale(1.125);
}

.regrule-item2 {
  max-width: 125%;
  /* box-sizing: border-box; */
  margin-left: 5px;
  margin-right: 5px;
  padding: 0.7rem;
  border-width: 0 5px;
  border-radius: 8px;
  border-style: solid;
  border-color: transparent;
  box-shadow: 1px 1px 12px -5px #888;
  /* justify-content: center;
  vertical-align: center; */
}

.regreg-item {
  margin: 1rem auto;
  /* border-width: 0 5px; */
  border-radius: 8px;
  font-size: 1.4rem;
  color: #333;
}

.reghelp {
  display: grid;
  grid-template-areas: 
    'at sm'
    'att smt'
    'pxh rk'
    'pxth rkt'
    'mt pc'
    'mtt pct';
  grid-gap: 3rem;
}

.reghelp:nth-child(even) {
  grid-template-rows: auto;
}

.reghelp-item {
  max-width: 100%;
  margin: -2rem 1rem 0 1rem;
  padding: 1rem;
  font-size: 1.25rem;
  color: #333;
}

.r {
  padding: 1rem;
  margin: auto auto 2rem auto;
  border-radius: 5px;
  background-color: #2ecc40;
  color: #dddddd;
  text-align: center;
}

.rrphotos {
  background-repeat: no-repeat;
  background-size: 125%;
  height: 35vh;
  /* width: 50vw; */
  margin: 0 auto;
  background-position: center;
  font-weight: bolder;
  text-shadow: 2px 2px 5px  #333;
  /* opacity: 0.88; */
}

.rhphotos {
  background-repeat: no-repeat;
  background-size: 200%;
  background-position: center;
  margin: 1rem auto;
  height: 35vh;
  width: 100%;
}

.rregphotos {
  background-repeat: no-repeat;
  background-size: 125%;
  background-position: center;
  border-radius: 8px;
  margin: 1rem auto;
  height: 40vh;
  width: 100%;
}

#ul {
  background-image: url('./components/layout/Urban-Landscape.jpeg');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  font-weight: bolder;
  text-shadow: 2px 2px 3px  #333;
  height: 7.77rem;
  width: 100%;
  color: var(--primary-color);
  font-size: 2.00rem;
  margin-bottom: 2.5rem;
  text-align: center;
  z-index: 99;
}

#uls {
  font-size: 2rem;
}

#s {
  margin: -2rem auto 2rem auto;
  text-align: center;
  font-size: 1rem;
}

#p {
  margin: 1.5rem;
  color: #4d5863;
}

#px {
  grid-area: px;
  background-image: url(./components/layout/pan-xiaozhen.jpg);
  color: #ff851b;
  text-shadow: 2px 2px 5px black;
  font-size: 1.88rem;
}

#lp {
  grid-area: lp;
  background-image: linear-gradient(rgba(0, 0, 0, 0.125), rgba(0, 0, 0, 0.125)), 
    url(./components/layout/luke-porter.jpg);
  opacity: 0.88;
  color: #fff;
  text-shadow: 2px 2px 5px black;
  font-size: 1.88rem;
}

#vp {
  grid-area: vp;
  background-image: linear-gradient(rgba(0, 0, 0, 0.125), rgba(0, 0, 0, 0.125)), 
    url(./components/layout/vitor-pinto.jpg);
  opacity: 0.88;
  color: #fff;
  text-shadow: 2px 2px 5px black;
  font-size: 1.88rem;
}

#tv {
  grid-area: tv;
  background-image: linear-gradient(rgba(0, 0, 0, 0.125), rgba(0, 0, 0, 0.125)),
                    url(./components/layout/timo-volz.jpg);
  opacity: 0.88;
  color: #ffdc00;
  text-shadow: 2px 2px 5px black;
  font-size: 1.88rem;
}

#jd {
  grid-area: jd;
  background-image: url(./components/layout/jorge-dominguez.jpg);
  color: #01ff70;
  text-shadow: 2px 2px 5px black;
  font-size: 1.88rem;
}

#jk {
  grid-area: jk;
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), 
  url(./components/layout/jan-kopriva.jpg);
  opacity: 0.88;
  color: #fff;
  text-shadow: 2px 2px 5px black;
  font-size: 1.88rem;
}

#ccr {
  grid-area: ccr;
  background-image:  linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
    url(./components/layout/caspar-camille-rubin.jpg);
  opacity: 0.88;
  color: #fff;
  text-shadow: 2px 2px 5px black;
  font-size: 1.88rem;
}

#jg {
  grid-area: jg;
  background-image:  url(./components/layout/josh-gordon.jpg);
  opacity: 0.88;
  color: #7fdbff;
  text-shadow: 2px 2px 5px black;
  font-size: 1.88rem;
}

#pdp {
  grid-area: pdp;
  background-image: url(./components/layout/priscilla-du-preez.jpg);
  color: #ff851b;
  text-shadow: 2px 2px 3px black;
  font-size: 1.88rem;
}

#dh {
  grid-area: dh;
  background-image: url(./components/layout/david-hurley.jpg);
  color: #85144b;
  text-shadow: 1px 1px 3px rgb(187, 255, 0);
  font-size: 1.88rem;
}

/* Regulations */

#nft {
  grid-area: nft;
}

#nf {
  background-image: url(./components/layout/nick-fewings.jpg);
  color: #85144b;
  font-size: 1.88rem;
  grid-area: nf;
}

#cbt {
  grid-area:cbt;
}

#cb {
  background-image: url(./components/layout/christopher-burns.jpg);
  color: #fff;
  font-size: 1.88rem;
  grid-area: cb;
}

#tdt {
  grid-area: tdt;
}

#td {
  background-image: url(./components/layout/tarun-dhiman.jpg);
  background-size: 185%;
  grid-area: td;
}

#bwt {
  grid-area: bwt
}

#bw {
  background-image: url(./components/layout/ben-white.jpg);
  grid-area: bw;
}

#cet {
  grid-area: cet;
}

#ce {
  background-image: url(./components/layout/charles-etoroma.jpg);
  grid-area: ce;
}

.credits {
  text-align: center;
  color: #fff;
  background-color: #333;
  margin-left: -2rem;
  margin-right: -2rem;
  padding: 1rem;
  font-size: 1rem;
}

#at {
  background-image: url(./components/layout/artur-tumasjan.jpg);
  grid-area: at;
}

#att {
  grid-area: att;
}

#sm {
  background-image: url(./components/layout/sincerely-media.jpg);
  background-size: 90%;
  grid-area: sm;
}

#smt {
  grid-area: smt;
}

#pxh {
  background-image: url(./components/layout/pan-xiaozhen.jpg);
  grid-area: pxh;
}

#pxth {
  grid-area: pxth;
}

#rk {
  background-image: url(./components/layout/rosie-kerr.jpg);
  grid-area: rk;
}

#rkt {
  grid-area: rkt;
}

#mt {
  background-image: url(./components/layout/mareko-tamaleaa.jpg);
  grid-area: mt;
}

#mtt {
  grid-area: mtt;
}

#pc {
  background-image: url(./components/layout/pawel-czerwinski.jpg);
  background-size: 125%;
  grid-area: pc;
}

#pct {
  grid-area: pct;
}

.showreg {
  margin: 1rem;
}

.reg-link {
  /* text-align: center; */
  align-items: center;
  justify-content: center;
  margin: 2rem auto 0.5rem auto;
}

.reg-two {
  display: grid;
  grid-template-areas:
    'site site'
    'carrules comb'
  ;
  grid-gap: 1.5rem;
  color: #fff;
  margin: -2rem -5rem 0 -2rem;
  padding: 2rem 3rem 5rem 3rem;
}

.reg-3 {
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}
#site {
  grid-area: site;
  /* width: 85%; */
}
#carrules {
  grid-area: carrules;
  width: 50%;
}
#carimg {
  grid-area: comb;
  /* max-height: 75vw; */
  max-width: 75%;
}
/* #carhelp{
  grid-area: carhelp;
  width: 45%;
}
#carsearch{
  grid-area: carsearch;
  width: 45%;
}
#carsafety{
  grid-area: carsafety;
  width: 45%;
}
#carreturn{
  grid-area: carreturn;
  width: 45%;
} */

.reg-four {
  background-image: url(./components/layout/english_combine_harvester.jpg);
  background-repeat: no-repeat;
  background-size: 125%;
  background-position: center;
  border-radius: 8px;
  /* box-shadow: 1px 1px 12px 5px #fff; */
  /* filter: drop-shadow(5px 5px 15px black); */
  text-shadow: 1px 1px 5px #888;
  /* margin: 0; */
  margin: 0 -2rem 0 -18rem;
  padding: 1rem;
  height: 100%;
  border-radius: 10px;
}

#accidents {
  background-image: url(./components/layout/accidents.jpg);
  background-repeat: no-repeat;
  background-size: 85%;
  background-position: center;
  height: 25rem;
  width: auto;
  margin: -0.5rem -1rem;
}

#accidents2 {
  background-image: url(./components/layout/RAS20002.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  height: 50rem;
  /* width: auto; */
  /* margin: auto; */
}

#ol {
  margin: 0.125rem 11.25rem 0.125rem 10.25rem; 
  font-size: 7px;
}
#sp {
  float: right;
}
#car-d {
  background-image: url(./components/layout/car-density.jpg);
  background-repeat: no-repeat;
  background-size: 125%;
  background-position: center;
  height: 50rem;
}

/* Tablet Styles */
@media (max-width: 991.98px) {
  .regrule {
    grid-template-areas: 
    'px'
    'lp'
    'vp'
    'tv'
    'jd'
    'jk'
    'ccr'
    'jg'
    'pdp'
    'dh';
  }
  .hide-sm {
    display: none;
  }
}

/* Mobile Styles */
@media (max-width: 767.98px) {
  .container {
    margin-top: 8rem;
  }

  .container-reg2 {
    max-width: 100%;
  }

  .container-reg3 {
    height: 35vh;
  }

  #accidents {
    background-size: 85%;
    height: 13rem;
    width: 90%;
    margin: -1.25rem 0 -1.25rem 0;
    padding: 0 -1rem;
  }
  #accidents2 {
    background-size: 100%;
    height: 17rem;
    width: auto;
    margin: -1rem -1.5rem 1.5rem -1.5rem;
  }
  #ol {
    margin: 0.25rem 0;
    font-size: 0.25rem;
  }
  #car-d {
    background-size: 150%;
    height: 20rem;
    width: auto;
    margin: -1rem 0;
  }

  .hide-sm {
    display: none;
  }

  /* Text Styles */
  .x-large {
    font-size: 3rem;
  }

  .large {
    font-size: 2rem;
  }

  .lead {
    font-size: 1rem;
  }

  /* Navbar */
  .navbar {
    display: block;
    text-align: center;
  }

  .navbar ul {
    text-align: center;
    justify-content: center;
    margin: 0 auto 0  -2rem;
  }

  .navbar h1 {
    margin-left: -2rem;
    margin-bottom: 1rem;
  }

  .navbar .welcome {
    display: none;
  }

  /* Profiles Page */
  .profile {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .profile ul {
    display: none;
  }

  /* Profile Page */

  .profile-top img,
  .profile img {
    width: 200px;
    margin: auto;
  }

  .profile-grid {
    grid-template-areas:
      'top'
      'about'
      'exp'
      'edu'
      'github';
  }

  .profile-about .skills {
    flex-direction: column;
  }

  .dash-buttons a {
    display: block;
    width: 100%;
    margin-bottom: 0.2rem;
  }

  .post {
    grid-template-columns: 1fr;
  }
  .post a,
  .post button {
    padding: 0.3rem 0.4rem;
  }

  .reg {
    grid-template-areas: 
      'help'
      'search'
      'other';
  }

  .reg-two {
    grid-gap: 0.5rem;
    grid-template-areas:
      'site'
      'carrules'
      'comb';
    height: 125%;
    width: 100vw;
    margin-top: 1rem;
  }
  #carrules {
    width: 100%;
    height: 100%;
  }
  #carimg {
    max-width: 100%;
  }
  .reg-four {
    /* background-size: 125%; */
    text-align: center;
    max-width: 100%;
    height: 50vh;
    margin: 0rem auto 10rem auto;
    padding: -2rem;
    text-shadow: 1px 1px 5px #888;
  }
  .reg-link {
    margin: 1rem auto 0.5rem auto;
  }

  .reg-item {
    margin: 3rem auto -3rem auto;
    padding: 0.25rem 0.25rem 0 0.25rem;
    max-width: 85%;
    max-height: 33vh;
  }

  .regrule {
    grid-template-areas: 
    'px'
    'lp'
    'vp'
    'tv'
    'jd'
    'jk'
    'ccr'
    'jg'
    'pdp'
    'dh';
  }

  #ul {
    font-size: 1.25rem;
    background-size: cover;
  }

  #px, #lp, #vp, #tv, #jd, #jk, #ccr, #jg, #pdp, #dh {
    font-size: 1.33rem;
  }

  .rrphotos {
    height: 25vh;
    width: 100%;
    /* background-size: 100%; */
    font-size: 1.25rem;
  }

  .rhphotos {
    height: 25vh;
  }

  .regreg {
    grid-template-areas: 
    'nft'
    'nf'
    'cbt'
    'cb'
    'tdt'
    'td'
    'bwt'
    'bw'
    'cet'
    'ce';
  }

  .regreg-item {
    font-size: 1.22rem;
    margin: auto;
    max-width: 100%;
  }

  .rregphotos {
    margin: 0 auto;
    height: 30vh;
    width: 100%;
    background-size: 125%;
  }

  .btnrules {
    text-align: center;
    margin-top: 0;
  }

  .msm {
    font-size: 1rem;
    margin-bottom: 0.5rem;
  }

  .reghelp {
    grid-template-areas: 
    'at'
    'att'
    'sm'
    'smt'
    'pxh'
    'pxth'
    'rk'
    'rkt'
    'mt'
    'mtt'
    'pc'
    'pct';
    margin: 1rem auto 0 1rem;
  }

  .reghelp-item {
    max-width: 70vw;
    margin: -2rem auto -2rem auto;
    padding: 0rem;
    font-size: 1.125rem;
  }

  .credits {
    font-size: 0.8rem;
    padding: 0.5rem;
  }

  #accidents {
    background-size: 150%;
  }

  .fbc {
    margin: 1rem -2rem -2rem -2rem;
    padding: 0.5rem;
    padding: 0.05rem 0 0 0;
  }

  .fic {
    margin: -0.75rem 0.25rem 0 0.25rem;
    padding: 1rem 0.5rem 0.5rem 0.5rem;
  }

  .fcb {
    padding: 0.5rem;
  }

  .fa-facebook-f {
    font-size: 1.77rem;
  }
  .fa-twitter {
    font-size: 1.77rem;
  }
  .fa-google-plus {
    font-size: 1.77rem;
  }
  .fa-linkedin-in {
    font-size: 1.77rem;
  }
  .fa-instagram {
    font-size: 1.77rem;
  }
  .fa-pinterest {
    font-size: 1.77rem;
  }
  
}
